.product{
    width: 100%;
    height: 209px;
    display: inline-block;
}
.product img{
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 100px;
  padding: 5px;
}

.product .buttons{
  text-align: right;
  margin-top: -190px;
  float: right;
  display: inline-flex;
}

.glyphicon{
  color: green;
}
.product .glyphicon:hover{
  color: blue;
  cursor: pointer;
}

.addbutton{
  display: inline;
}

.product .glyphicon{
  margin-left:3px;
  margin-right: 3px;
}

.cartContainer{
  width: 309px;;
}

.offers{
  color: green;
}
.carousel-control{
  display: none;
}

.shopCartHeader{
  margin-bottom: 10px;
}

.cartButton{
  margin-top: -5px;
  margin-right: 5%;
  color: white;
}

.cartButton .glyphicon{
  color: white;
}

