.shopCart{
  background: white;
  position: absolute;
  width: 309px;
  right: 28px;
  border: 1px solid #e0dcdc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px #dedede;
}

.shopCart table{
  width: 250px;
}
.discount{
  font-size: 10px;
}
.discount .price{
  color: red;
}

.shopCart .glyphicon{
  display: inline;
}

@media only screen and (max-width: 900px) {
  .shopCart{
    left: 3%;
    right: 3%;
    top: 200px;
    width: 94%;
  }
}

.carousel-indicators{
  display: none;
}

